@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Noto+Sans+Mono:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.cdnfonts.com/css/menlo');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{

    font-family: Noto Sans;
}
.branch-selection-main-div {
    position: relative;
    background-color: black;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* margin-top: 152px; */
}

.branch-select {
    display: flex;
    padding: 6px 17px;
    justify-content: center;
    /* align-items: center; */
    gap: 7.859px;
    color: #C9D1D9;
    border-radius: 6px;
    border: 1px solid rgba(240, 246, 252, 0.10);
    background: #21262D;
    font-family: Noto Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.branch-button-clicked {
    display: flex;
    padding: 6px 17px;
    justify-content: center;
    /* align-items: center; */
    gap: 7.859px;
    color: #C9D1D9;
    border-radius: 6px;
    border: 1px solid rgba(240, 246, 252, 0.10);
    background: #21262D;
    font-family: Noto Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.select-option-icon {
    padding-top: 2px;
    width: 15px;
    height: 10px;
}



.branch-header {
    background-color: black;
    margin-top: 33px;
    padding-top: 24px;
    gap: 16px;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
}

.sub-header {
    display: flex;
    gap: 16px;
}

.switch-branches {
    display: flex;
    padding: 8px 0px;
    gap: 3.84px
}

.branch-length {

    color: #C9D1D9;
    font-family: Noto Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 14px;
}

.branch-name {
    color: #8B949E;
    font-family: Noto Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
}

.tag-heading {
    color: #8B949E;
    font-family: Noto Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
}

.tag-length {
    color: #C9D1D9;
    font-family: Noto Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 14px;
}

.select-options {
    position: absolute;
    width: 300px;
    height: auto;
    max-height: 480px;
    margin: 8px 0 16px 0;
    font-size: 12px;
    border: 1px solid rgba(240, 246, 252, 0.10);
    background: #21262D;
    border-radius: 6px;
    box-shadow: var(--shadow-floating-large, var(--color-shadow-large));
    animation-name: SelectMenu-modal-animation--sm;
}

/* .switch-branches-tags{
   
    font-size: 14px;
    color:white;
    font-size: 14px;
    font-weight: var(--base-text-weight-semibold, 600);
} */
.select-header {
    padding: 7px 7px 7px 16px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #E6EDF3;
    font-size: 14px;
    font-weight: var(--base-text-weight-semibold, 600);
    border-bottom: 1px solid rgba(240, 246, 252, 0.10);
}

.filter-div {
    padding: 8px;
    border-bottom: 1px solid rgba(240, 246, 252, 0.10);
}

.filter-input {
    padding: 5px 12px;
    border: 1px solid rgba(240, 246, 252, 0.10);
    background: #21262D;
    border-radius: 6px;
}

.input-clicked {
    padding: 5px 12px;
    border: 5px solid #2F81F7;
    background: #21262D;
    border-radius: 6px;
    color: #E6EDF3;
    font-size: 12px;
}

.branch-tags-div {
    padding: 8px 8px 0 8px;
    display: flex;
    border-bottom: 1px solid rgba(240, 246, 252, 0.10);
}

.branches {
    padding: 4px 16px;
    font-size: 12px;
    color: #E6EDF3;
    /* border-top: 1px solid rgba(240, 246, 252, 0.10);
    border-left: 1px solid rgba(240, 246, 252, 0.10);
    border-right: 1px solid rgba(240, 246, 252, 0.10); */
    border: 1px solid rgba(240, 246, 252, 0.10);
    border-bottom-width: 0;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.branch-selected {
    padding: 4px 16px;
    font-size: 12px;
    color: #8B949E;
    border-bottom-width: 0;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.tags {
    padding: 4px 16px;
    font-size: 12px;
    color: #8B949E;
}

.tag-selected {
    padding: 4px 16px;
    font-size: 12px;
    color: #E6EDF3;
    border: 1px solid rgba(240, 246, 252, 0.10);
    border-bottom-width: 0;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;

}

.branch-names {
    padding: 7px 16px;
    font-size: 12px;
    display: flex;
    border-bottom: 1px solid rgba(240, 246, 252, 0.10);
    color: #E6EDF3;
}

.no-data {
    padding: 7px 0px;
    font-size: 12px;
    /* display: flex; */
    border-bottom: 1px solid rgba(240, 246, 252, 0.10);
    color: #E6EDF3;
    text-align: center;
}

.default {

    margin-left: 175px;
    padding: 1px 7px;
    font-size: 12px;
    border: 1px solid rgba(240, 246, 252, 0.10);
    border-radius: 100px;
    color: #8B949E;
}

.view-more {
    padding: 7px 16px;
    color: #2F81F7;
    text-align: center;
}

.filtered-items {
    display: flex;
    flex-direction: column;
    color: red;
    border: 2px solid green;
    gap: 20px;
}

.filtered-items:hover,
.filtered-items:hover,
.branch-names:hover {
    background-color: rgba(240, 246, 252, 0.10);
}

.branch-title {
    margin-top: 16px;
    padding: 17px;
    border-radius: 6px 6px 0px 0px;
    border: 1px solid #30363D;
    background: #161B22;
    display: flex;
    gap: 421.48px;
    /* width:fit-content */
}

.shaNoCommit {
    display: flex;
}

.profileCommmit {
    display: flex;
}

.profile {
    border-radius: 12px;
    margin-right: 10px;
}

.profile-name {
    margin-left: 2px;
    color: #C9D1D9;
    font-family: Noto Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px;
}

.commit-data {
    margin-left: 2px;
    color: #C9D1D9;
    font-family: Noto Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px;
}

.sha-no {
    /* margin-left: 421.84px; */
    color: #8B949E;
    /* font-family: Menlo;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; */
}

.clock {
    margin-left: 86.31px;
}

.commits-count {
    display: flex;
    margin-left: 3.84px;
    color: #C9D1D9;
    font-family: Noto Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px;
}

.commit {
    display: flex;
    color: #8B949E;
    padding-left: 5px;
    margin-top: -3px;
}

.contents-component {
    background-color: black;
}
.component-button-clicked{
    background-color: black;
}

.main-header {
    background-color: black;
}

.folder-icon {
    background-color: #8B949E;
    width: 16px;
    height: 16px;
}

.branch-item {
    border-top: 1px solid #21262D;
    color: #C9D1D9;
    display: flex;
    /* justify-content: flex-start; */
    /* align-items: center;
    justify-content: center; */
    padding: 9px 132px 8px 16px;
}

.branch-item:hover {
    background-color: rgba(240, 246, 252, 0.10);
}

.branchContents {
    display: flex;
    /* width: fit-content; */
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
}

.commit-message {
    margin-left: 152.25px;
    color: #8B949E;
    font-family: Noto Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
}

.content-div {
    display: flex;
    /* padding-left: 132px; */
    /* padding-right: 16px; */
    align-items: flex-end;
    gap: 16px;
    /* border-top: 1px solid #21262D; */
    color: #C9D1D9;
    font-family: Noto Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;

}

.content-name {
    width: 130.11px;
    color: #C9D1D9;
    font-family: Noto Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    text-decoration: none;
}

.content-name:hover {
    width: 130.11px;
    color: #2F81F7;
    font-family: Noto Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    text-decoration: underline;
}

.commit-msg {
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    margin: 16px 0px;
    padding: 16px;
    font-size: 14px;
    background-color: #161B22;
    color: #E6EDF3;
    padding: 17px 550px 17px 17px;
    border-radius: 6px;

}
.commit-link{
    padding-left: 5px;
    color:#2F81F7;
    text-decoration: none;
}
.commit-link:hover{
    color:#2F81F7;
    text-decoration: underline;
}
.commit-link2{
    padding:0px 5px;
    color:#2F81F7;
    text-decoration: none;
}
.commit-link2:hover{
    color:#2F81F7;
    text-decoration: underline;
}

.responsive-commit-data {
    display: none;
}



.commit {
    display: flex;
    align-items: center;
    justify-content: center;
}


@media screen and (max-width: 930px) and (min-width:535px) {
    .branch-title {
        margin-top: 16px;
        padding: 17px;
        border-radius: 6px 6px 0px 0px;
        border: 1px solid #30363D;
        background: #161B22;
        display: flex;
        gap: 200px;
    }

    .commit {
        display: none;
    }

    .sha-no {
        display: none;
    }

    .commit-msg {
        display: flex;
        margin: 16px 0px;
        padding: 16px;
        font-size: 14px;
        background-color: #161B22;
        color: #E6EDF3;
        padding: 17px 200px 17px 17px;
        border-radius: 6px;
    }

    .branch-select {
        display: flex;
        padding: 6px 17px;
        justify-content: center;
        width: fit-content;
        gap: 7.859px;
        color: #C9D1D9;
        border-radius: 6px;
        border: 1px solid rgba(240, 246, 252, 0.10);
        background: #21262D;
        font-family: Noto Sans;
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
    }
}

@media screen and (max-width: 535px) {


    /* .component-button-clicked {
        z-index: -1;
        opacity: 0.3;
        filter: blur(7px);
    }
    .filter-input {
        padding: 5px 12px;
        border: 1px solid rgba(240, 246, 252, 0.10);
        background: #21262D;
        border-radius: 6px;
    } */
    

    /* .blur {
        filter: blur(4px);
        opacity: 0.5px;
    } */

    .select-options {
        position: absolute;
        position: fixed;
        width: 95%;
        /* top:300px; */
        height: auto;
        max-height: 480px;
        margin: 8px 0 16px 0;
        font-size: 12px;
        border: 1px solid rgba(240, 246, 252, 0.10);
        background: #21262D;
        border-radius: 6px;
        box-shadow: var(--shadow-floating-large, var(--color-shadow-large));
        animation-name: SelectMenu-modal-animation--sm;
    }

    .branch-button-clicked {
        display: none;
    }

    .select-options-out-div {
        display: flex;
        justify-content: center;
        /* z-index: 1; */

    }

    .default {

        position: absolute;
        right: 5%;
        padding: 1px 7px;
        font-size: 12px;
        border: 1px solid rgba(240, 246, 252, 0.10);
        border-radius: 100px;
        color: #8B949E;
    }

    .branch-tags-div {
        padding: 16px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        border-bottom: 1px solid rgba(240, 246, 252, 0.10);
    }

    /* .branches {
        padding: 8px 16px;
        font-size: 12px;
        color: #E6EDF3;
        border: 1px solid rgba(240, 246, 252, 0.10);
        border-bottom-width: 0;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
    }
    
    .branch-selected {
        padding: 8px 16px;
        font-size: 12px;
        color: #8B949E;
        border-bottom-width: 0;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
    }
    
    .tags {
        padding: 8px 16px;
        font-size: 12px;
        color: #8B949E;
    }
    
    .tag-selected {
        padding: 8px 16px;
        font-size: 12px;
        color: #E6EDF3;
        border: 1px solid rgba(240, 246, 252, 0.10);
        border-bottom-width: 0;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
    
    } */
    .branch-names {
        padding: 16px;
        font-size: 12px;
        display: flex;
        border-bottom: 1px solid rgba(240, 246, 252, 0.10);
        color: #E6EDF3;
    }

    .filter-div {
        padding: 16px;
        border-bottom: 1px solid rgba(240, 246, 252, 0.10);
    }

    .branch-title {
        margin-top: 16px;
        padding: 17px;
        border-radius: 6px 6px 0px 0px;
        border: 1px solid #30363D;
        background: #161B22;
        display: flex;
        gap: 50px;
    }

    .commit {
        display: none;
    }

    .sha-no {
        display: none;
    }

    .branch-header {
        background-color: black;
        margin-top: 33px;
        padding-top: 24px;
        gap: 16px;
        display: flex;
        flex-direction: column;
    }

    .branch-selected {
        padding: 4px 16px;
        font-size: 12px;
        color: #8B949E;
        border-bottom-width: 0;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        /* width: 300px; */
    }

    .commit-data {
        margin-left: 2px;
        color: #C9D1D9;
        font-family: Noto Sans;
        font-size: 13px;
        font-style: normal;
        font-weight: 600;
        line-height: 21px;
    }

    .commit-msg {
        display: flex;
        margin: 16px 0px;
        padding: 16px;
        font-size: 14px;
        background-color: #161B22;
        color: #E6EDF3;
        padding: 17px 80px 17px 17px;
        border-radius: 6px;
    }

    .branch-select {
        display: flex;
        padding: 6px 17px;
        justify-content: center;
        width: fit-content;
        gap: 7.859px;
        color: #C9D1D9;
        border-radius: 6px;
        border: 1px solid rgba(240, 246, 252, 0.10);
        background: #21262D;
        font-family: Noto Sans;
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
    }

    .select-header {
        padding: 16px;
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        color: #E6EDF3;
        font-size: 14px;
        font-weight: var(--base-text-weight-semibold, 600);
        border-bottom: 1px solid rgba(240, 246, 252, 0.10);
    }
}

@media screen and (max-width: 440px) {
    .branch-title {
        margin-top: 16px;
        padding: 17px;
        border-radius: 6px 6px 0px 0px;
        border: 1px solid #30363D;
        background: #161B22;
        display: flex;
        gap: 20px;
    }

    .commit {
        display: none;
    }

    .sha-no {
        display: none;
    }

    .branch-header {
        background-color: black;
        margin-top: 33px;
        padding-top: 24px;
        gap: 16px;
        display: flex;
        flex-direction: column;
    }

    .branch-selected {
        padding: 4px 16px;
        font-size: 12px;
        color: #8B949E;
        border-bottom-width: 0;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        /* width: 300px; */
    }

    .commit-data {
        display: none;
    }

    .responsive-commit-data {
        margin-left: 2px;
        color: #C9D1D9;
        font-family: Noto Sans;
        font-size: 13px;
        font-style: normal;
        font-weight: 600;
        line-height: 21px;
    }

    .content-name {
        width: 100px;
        color: #C9D1D9;
        font-family: Noto Sans;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 21px;
        text-decoration: none;
    }

    .commit-message {
        margin-left: 50px;
        color: #8B949E;
        font-family: Noto Sans;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 21px;
    }

    .commit-msg {
        display: flex;
        margin: 16px 0px;
        padding: 16px;
        font-size: 14px;
        background-color: #161B22;
        color: #E6EDF3;
        padding: 17px 30px 17px 17px;
        border-radius: 6px;

    }

    .branch-select {
        display: flex;
        padding: 6px 17px;
        justify-content: center;
        width: fit-content;
        gap: 7.859px;
        color: #C9D1D9;
        border-radius: 6px;
        border: 1px solid rgba(240, 246, 252, 0.10);
        background: #21262D;
        font-family: Noto Sans;
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
    }
}